doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="../public/css/style.css")
        title Koom
    body
        header
            h1 <a href="http://localhost:3000/">KOOM</a>
        main
            div#welcome
                form#login
                    input(type="text", placeholder="nickname", required)
                    button login
                form#join
                    input(type="text", placeholder="enter room name", required)
                    button join
            div#roomList
                p 생성된 방
                ul
            div#room
                h3
                ul
                form#msg
                    input(type="text", placeholder="메시지", required)
                    button 전송
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")